extends template

block content
    h1 Welcome to Dorm Supplies
    h3 On this website you will be able to purchase dorm supplies and have it delivered to your dorm
    <a class="button" href="/login">Login</a>
    <a class="button" href="/register">Register</a>

